* {
  font-family: 'Nunito', sans-serif;
}

header {
  text-align: center;
}

code {
  background: #99D19C;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}

.form-container {
  max-width: 95%;
}

#solve-form {
  background-color: #D0EEF0;
  border-radius: 10px;
  padding: 4px 20px 20px 20px;
}

textarea {
  width: 98%;
  margin-bottom: 12px;
}

#check-form {
  background-color: #D0EEF0;
  border-radius: 10px;
  padding: 4px 20px 20px 20px;
  margin-top: 20px;
}

.error-container {
  background-color: #D0EEF0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

#error-msg {
  color: red;
  display: inline;
  margin-left: 10px;
}

#sudoku-grid-container {
  background: #D0EEF0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px 20px 20px 0px;
}

#sudoku-grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {
  border: 1px solid;
  padding: 0.3em;
}

.yAxisLegend {
  margin-top: 50px;
  text-align: right;
  font-weight: bold;
}

.yAxisLegend tr td {
  border: 1px solid rgba(0,0,0,0);
  width: 2em;
  height: 1.95em;
}

.xAxisLegend {
  border: 3px solid rgba(0,0,0,0);
  border-spacing: 0;
  font-weight: bold;
}

.xAxisLegend tr td {
  border: 1px solid rgba(0,0,0,0);
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0;
}

.xAxisLegend tr td:nth-of-type(3n) {
  border-right: 3px solid rgba(0,0,0,0);
}

.sudoku-input {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
}

.input-button {
  background-color: #2A6561;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input-button:hover {
  background-color: #99D19C;
  color: black;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: center;
    max-width: 50%;
  }
}
